@import "../assets/variables/variables";

.user-panel {
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
}

.user-panel__btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-family: $text-font;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & > img {
        width: 18px;
        height: 18px;
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(153deg) brightness(104%) contrast(104%);
        transition: .2s ease-in-out;
    }
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.username {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    & > p {height: 25px}
}

.toggle-menu {
    width: 100%;
    height: 90px;
    background-color: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 2px 2px 1px $shadow-color;
    overflow: hidden;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
}

.toggle-menu__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.toggle-menu__link {
    width: 100%;
    text-align: center;
    color: #000;
    text-decoration: none;
}

.toggle-menu__btn, .toggle-menu__link {
    padding: 5px;
    font-family: $text-font;
    font-size: 16px;
    &:hover {
        color: $gray-light-color;
    }
}

.itsOpen {
    display: flex;
}

.itsRotate {
    transform: rotate(180deg);
    transition: .2s ease-in-out;
}

@media all and (max-width: 576px){
    .campus-logo {
        display: none;
    }
}

@media all and (min-width: 425px){
    .user-avatar {
        display: none;
    }
}

@media all and (max-width: 425px){
    .username {
        display: none;
    }
}