@import "../assets/variables/variables";

.btn {
    height: 30px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    font-family: $text-font;
    text-transform: uppercase;
    letter-spacing: .5px;
    transition: .1s ease-in-out;
    &:active {
        transition: .1s ease-in-out;
    }
}

.backBlue {
    background-color: $blue-color;
    &:active {
        background-color: $blue-color-light;
    }
}

.backRed {
    background-color: $red-color;
    &:active {
        background-color: $red-color-2;
    }
}

.medium {
    width: 150px;
}

.large {
    width: 200px;
}