@import "../assets/variables/variables";

.tableContainer {
    width: 100%;
    padding: 6px;
    font-family: $text-font;
}

.tableHeader-row {
    height: 30px;
    > th {
        width: 160px;
    }
}

.tableBody > tr > td {
    max-width: 160px;
}