@import "../assets/variables/variables";

.userInfo-list {
    list-style: none;
    font-family: $text-font;
}

.userProfile-subtitle {
    @include titles-style(4px, 16px, #000, $title-font);
}

.userInfo-item {
    margin-bottom: 6px;
}