@import "../assets/variables/variables";

.contact {
    width: 100%;
    height: fit-content;
    padding: 10px 100px;
    background-color: $blue-color;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.contacts-title {
    @include titles-style(10px, 20px, #fff, $title-font);
    letter-spacing: 1.25px;
}

.contact-info {
    max-width: 1224px;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
}

.contact-card {
    width: 400px;
    height: 120px;
    margin: 5px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-family: $text-font;
}

.contact-title {
    @include titles-style(5px, 16px, #fff, $text-font);
    letter-spacing: .75px;
}

.contact-tel {
    margin-bottom: 3px;
    font-size: 14px;
}

@media screen and (max-width: 1024px){
    .contact {
        padding: 10px 70px;
    }

    .contacts-title {
        text-align: center;
    }

    .contact-card {
        width: 350px;
    }
}

@media all and (max-width: 860px){
    .contact {
        padding: 10px 0;
    }
}

@media all and (max-width: 860px){
    .contact {
        padding: 10px 20px;
    }
}