@import "../assets/variables/variables";

.userInfo-list {
    max-width: 400px;
    margin-bottom: 15px;
    border: 1px solid $shadow-color;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
    font-family: $text-font;
}

.userProfile-subtitle {
    @include titles-style(4px, 16px, #000, $title-font);
}

.userInfo-item {
    margin-bottom: 6px;
}

.modInfo-btn {
    margin-top: 10px;
    align-self: center;
}