@import "../assets/variables/variables";

.userExamsTable {
    border-collapse: collapse;
}

.userExamsTable-header {
    background-color: $green-light-color;
}

.userExamsTable-item {
    height: 30px;
    padding-left: 3px;
    background-color: #c6ffc6;
    font-size: 14px;
}

.userExamsTable-item2 {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-btn {
    width: fit-content;
    height: 25px;
    padding: 5px 3px;
    font-size: 11px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: $red-color-2;
    color: #fff;
}