@import "../assets/variables/variables";

.signin-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    & > label {
        font-family: $text-font;
        display: flex;
        flex-direction: column;
    }
}