@import "../assets/variables/variables";

.addExam-container {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 35px;
}

.addExam-title {
    @include titles-style(10px, 18px, #000, $title-font);
}