// variables
$blue-color: #265FFF;
$blue-color-light: #2660ff81;
$gray-color: #a5a5a5;
$gray-light-color: #d3d2d2;
$body-back-color: #EDEDED;
$red-color: #CC0000;
$red-color-2: #E14457;
$translucid-back: -webkit-gradient(linear, left top, left bottom, from(#00000080));
$shadow-color: #e9e9e9;

// font family
$text-font: 'Jost', sans-serif;
$title-font: 'Noto Sans Balinese', sans-serif;

// mixins
@mixin titles-style($margin-bttm, $size, $color, $font){
    margin-bottom: $margin-bttm;
    font-size: $size;
    color: $color;
    font-family: $font;
}