@import "../assets/variables/variables";

.examsTable {
    width: 100%;
    padding: 6px;
    background-color: #f9f9f9;
    color: #000;
}

.examTable-row {
    text-align: center;
}

.inscription-btn {
    width: 80px;
    height: 24px;
    font-family: $text-font;
    color: #000;
    border: none;
    border-radius: 3px;
    background-color: rgb(160, 255, 160);
    cursor: pointer;
}

.modal-body {
    color: #000;
}